@import url("https://fonts.googleapis.com/css?family=Karla:weight@400;700&display=swap");

$font: "Karla", sans-serif;
$nav-color: #E8AE68;
$font-color:rgb(236,240,239);
$bg-color1:#E8AE68;
$bg-color2:#E3A587;
$button-color1:rgb(236,240,239);
$button-color2:rgb(91,91,91);


body {
  font-family: $font;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

nav{
box-sizing: border-box;
display:flex;
justify-content: center;  
gap:70px;
margin-top:12px;
font-size:22px;
font-weight: 600;
.nav-element {
  width: fit-content;
  padding-top: 6px;
  height: 35px;
  transition: background-color 0.25s;
  border-radius: 20px;
  &:hover {
    background-color: $button-color1;
  }
  a {
    color: $button-color2;
    text-decoration: none;
    padding:8px 17px;
    font-size: 18px;
  }
}



.dropdown-img{
  height: 20px;
  width:20px;
  position: relative;
  top: 5px; 
  right:15px;
  transform: rotate(180deg);
}

.rotate {
  transform: rotate(360deg);
  transition: transform 0.3s ease;
}
.unrotate {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}
}

main{
  width:76%;
  padding-top: 30px;
  margin:0 auto;
  display:flex;
  .main-text{
    display: flex;
    flex-direction: column;
    width:40%;
    margin-right: 80px;   
    .welcome-text{
      font-size:3.5em;
      margin-bottom: 15px;
    }
    .main-paragraph{
      width:90%;
      font-size:18px;
      
    }
  }


  .chart-container{
   margin-top:38px;
    .chart-canvas{
      flex:1;
      margin-top:20px;
      width: 600px;
      height: 300px;
      
    }
  }
}
 

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:50px;
  margin-top:60px;

  
    
    .crypto-item{
      width: 21em; 
      height: 26em; 
      border:2px solid grey;
      border-radius: 25px;
      transition: border 0.2s;
      
      .crypto-header{
        height:145px;
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        .crypto-logo{
          width: 6rem;
          height:5.8rem;
          margin-top:1.6em;      
          margin-left: 1em;
          margin-right: 1.4em;
          padding-left: 10px;     
        }      
        .crypto-name{
          display:inline-block;
          text-align: left; 
          display: inline;
          font-size:1.6rem;
          margin-bottom: 0;
          margin-top:1.8em;
          padding-right: 4em;
        }
        .crypto-abbrev{
          margin:0;
          font-size: 1.2rem;
        }
       
      }
      .where-to-buy{
        margin-top:0;
        padding-left:2em;
      }
      .crypto-text{
        padding:0.5em 4em;
      }
      .stock-list{
        flex-direction: row ;
        .stock{
          display:inline;
          gap:5%;
          background: rgb(236,240,239);
          color:rgb(91,91,91);
          font-size:1rem;
          padding:0.25em 0.5em;
          border-radius: 7px;
          gap:5%;
          margin-left:0.4em;
        }
        .first-stock{
          margin-left:1.9em;
        }
      }
      .text-box{
        overflow-y:auto;
        overflow-x:none;
        width:100%;
        height:10.4em;
        margin-bottom:0.2em;
        
        .crypto-text{         
          margin-top:0.7em;
          margin-bottom:0.4em;
          padding:0.6em 1.8em ;     
          font-size:1.1rem;        
        }
      }     
      .read-more{
        text-decoration: none;
        background: $button-color1;
        color:$button-color2;      
        border-radius:7px;
        padding: 0.25em 0.4em;
        margin-left:1.8em;
      }  
    }
  }

  
  .btc:hover{
    border:2px solid $bg-color1; 
  }
  .eth:hover{
    border:2px solid rgb(84,127,239);  
  }
  .dot:hover{
    border:2px solid rgb(232,0,129); 
  }
  .usdt:hover{
    border:2px solid rgb(39,161,124); 
  }
  .bnb:hover{
    border:2px solid rgb(240,185,11); 
  }
  .matic:hover{
    border:2px solid rgb(146,50,210); 
  }
   

  

